<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prof Assist</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <!-- As a link -->
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">
        <img src="/static/logo.png" alt="Logo Prof Assist" height="75">
        Prof Assist
      </a>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 p-3">
        <h3>Welcome to Prof Assist</h3>
        <div class="row">
          <div class="col-sm-6 py-3">
            <div class="card">
              <img src="/static/generator.png" class="card-img-top" alt="question-generator" height="218">
              <div class="card-body">
                <h5 class="card-title">Question Generator</h5>
                <p class="card-text">Generate thousands of question from a PDF document.</p>
                <div class="d-grid gap-2">
                  <a href="/question-generator" class="btn btn-primary">Generate!</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 py-3">
            <div class="card">
              <img src="/static/qa.png" class="card-img-top mt-3" alt="question-answering" height="200">
              <div class="card-body">
                <h5 class="card-title">Question Answering System</h5>
                <p class="card-text">Still have some material that makes you confused?</p>
                <div class="d-grid gap-2">
                  <a href="/question-answering" class="btn btn-primary">Ask ProfAssist!</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>